# Simple Linear Regression

## Importing Libraries

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

%matplotlib inline

## Importing the dataset

In [2]:
salary = pd.read_csv('Salary_Data.csv')

In [3]:
salary.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [5]:
X = salary['YearsExperience'].values
y = salary['Salary'].values

## Taking care of missing data

In [4]:
salary.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

## Splitting the dataset into the Training set and Test set

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state= 0)

## Training the Simple Linear Regression model on Training Set.